div{
    margin: 350px 500px;
    /* background-color: blue; */
}


#para{
    font-size: 2rem;
}
#yes{
    background-color: green;
    color: white;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    /* font-size: 200%; */
}

#no{
    color: whitesmoke;
    padding: 10px;
    background-color: rgb(252, 8, 8);
    border: 2px solid red;
    border-radius: 5px;
}

@media (max-width:700px){
    div{
        margin: 10px;
        /* background-color: blue; */
    }
    #sad-image{
        width: 200px;
    }
    #two-teddies{
        height: 200px;
    }
}